@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 20px;
    height: 100%; /* Adjusted to accommodate the table */
    background-color: #3598DB;
    font-size: 1.2rem;
    flex-wrap:wrap;
    padding-bottom: 100px;
    flex-direction: column;
    align-items: center;
}

.main {
    width: 350px;
    background-color: #fff;
    padding: 30px 30px;
    border-radius: 10px;
    margin-right: 200px;
    position: relative;
    margin-bottom: 100px;
}

h2 {
    text-align: center;
    font-weight: 600;
}

.input {
    text-align: center;
}

.main input {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid #ccc;
    outline: none;
    margin-top: 1rem;
    font-size: 1rem;
    padding: 10px 10px;
    margin-right:30px;
}

.button {
    text-align: center;
}

.main button {
    border: none;
    background-color: #3598DB;
    border-radius: 5px;
    padding: 15px 15px;
    color: #fff;
    margin-top: 1rem;
    font-size: 1.2rem;
    width: 200px;
    cursor: pointer;
}

.error {
    text-align: center;
    background-color: #fedfe1;
    color: #cd4243;
    margin-top: 1rem;
    padding: 15px 0px;
    border-radius: 5px;
    display: none;
}

.result {
    margin-top: 1rem;
    font-size: 1rem;
}

#loanChart {
    width: 300px !important;
    height: 300px !important;
}


ul {
    background-color: #d6f0fd;
    color: #44bef4;
    padding: 10px 15px;
    border-radius: 5px;
}

ul li {
    list-style: none;
}

.chart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
}

.table-container {
    margin: 20px auto;
    width: 90%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    margin-top: 200px;
}

th {
    background-color: #3598DB;
    color: white;
}

td {
    background-color: #fff;
}
#screenshotBtnContainer {
    text-align: center;
    margin-top: 20px; /* Adjust margin as needed */
}

/* Adjusting button size */
#screenshotBtn {
    padding: 10px 20px; /* Adjust padding for height and width */
    font-size: 16px; /* Adjust font size */
    background-color: #ffff;
    color: #3598DB;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#screenshotBtn:hover {
    background-color: #207ab4; /* Darker shade of primary color */
}